/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @keyframes scale-in-center {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.scale-in-center {
	transform: scale(0.9);
	opacity: 0;
}

.build-in-animate.scale-in-center,
.build-in-animate .scale-in-center {
	animation: scale-in-center 0.7s cubic-bezier(0.075, 0.820, 0.165, 1.000) 0.2s both;
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @keyframes slide-in-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-in-right {
	transform: translateX(100px);
	opacity: 0;
}

.build-in-animate.slide-in-right,
.build-in-animate .slide-in-right {
	animation: slide-in-right 0.7s cubic-bezier(0.075, 0.820, 0.165, 1.000) 0.4s both;
}


  /**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@keyframes slide-in-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-in-left {
	transform: translateX(-100px);
	opacity: 0;
}

.build-in-animate.slide-in-left,
.build-in-animate .slide-in-left {
	animation: slide-in-left 0.7s cubic-bezier(0.075, 0.820, 0.165, 1.000) 0.4s both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @keyframes slide-in-bottom {
	0% {
		transform: translateY(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.c-rich-text-only .c-rich-text,
.slide-in-bottom {
	transform: translateY(40px);
	opacity: 0;
}

.c-rich-text-only .c-rich-text.build-in-animate,
.build-in-animate.slide-in-bottom,
.build-in-animate .slide-in-bottom {
	animation: slide-in-bottom 0.7s cubic-bezier(0.075, 0.820, 0.165, 1.000) 0.2s both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.c-rich-text,
.fade-in {
	opacity: 0;
}

.c-rich-text.build-in-animate,
.build-in-animate.fade-in,
.build-in-animate .fade-in {
	animation: fade-in 0.7s cubic-bezier(0.075, 0.820, 0.165, 1.000) 0.2s both;
}
