
.c-background-img {
  display: block;
  margin: 0;
}

.c-background-img.-full .c-rich-text {
  margin-bottom: 1rem;
}

.c-background-img .c-rich-text__c-btn-wrapper .c-btn.-outline {
  color: #fff;
  border-color: #fff;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 20px rgba(#fff, 0.2);
    background-color: #fff;
    border-color: #fff;
    color: $reeves-green;
  }

  &:active {
    background-color: darken(#fff, 10);
    border-color: darken(#fff, 10);
  }
}

.c-background-img__wrapper.-full {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transform-style: preserve-3d;

  @media screen and (max-width: $break3) {
    height: calc(100vh - 18rem);
  }
}

.c-background-img.-full {
  display: block;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;

  &:before {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: var(--bg-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transform: translate3d(0, 0, -0.3px) scale(1.3);
  }
}

.c-background-img__wrapper.-full .c-rich-text > * {
  color: #fff;
  margin: 0;
  line-height: 1;

  em {
    font-family: "Tangerine", cursive;
    font-size: 5rem;
    margin-right: 0.5rem;
    color: $reeves-green;
  }
}

.c-background-img__wrapper.-full .c-background-img__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  width: 100%;
  margin-bottom: 6rem;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 20%;
  left: 0;
  transform: translateZ(-0.5px) scale(1.5);

  @media screen and (max-width: $break3) {
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    transform: translateZ(0) scale(1);
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .c-rich-text h1 {
      font-size: 1.8rem;
      text-align: center;
    }
  }
}

.c-background-img.-banner {
  position: relative;
  height: 430px;
  z-index: 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: transparent;
  overflow: hidden;
}

.c-background-img.-banner .c-background-img__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(
    302.26deg,
    rgba(54, 56, 61, 0.76) 44.11%,
    rgba(54, 56, 61, 0) 100%
  );
  z-index: 2;

  > * {
    transform: translateZ(-0.1px) scale(1.1);

    @media screen and (max-width: $break3) {
      transform: translateZ(0px) scale(1);
    }
  }

  .c-rich-text {
    color: #fff;

    h1 {
      font-family: "Euphoria Script";
    }
  }

  blockquote {
    &:before {
      content: '';
    }
    &:after {
      content: '';
      
    }
  }
}

.c-background-img.-banner .c-background-img__content h2 {
  font-size: 3rem;
  font-family: "Euphoria Script", cursive;
  font-weight: 300;
  text-align: center;
  max-width: 860px;
  padding: 1.5rem;
  box-sizing: border-box;
  color: #fff;
}

.c-background-img__banner-img {
  display: block;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  background-color: transparent;
  opacity: 0.2;

  &:before {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: var(--bg-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transform: translate3d(0, 0, -0.5px) scale(1.5);
  }

}
