.section-cta {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	margin-top: 10rem;

	&.-border-top {
		border-top: 5px solid #7ac142;
	}

	&.-border-bottom {
		border-bottom: 5px solid #7ac142;
	}

	&.-border-none {
		border: none;
	}

	&__title {
		font-family: "Euphoria Script";
		color: #60973a;
		font-size: 2rem;
	}

	&__btn {
		font-family: "Open Sans Condensed";
		font-weight: 600;
		font-size: 14px;
		background-color: #7ac142;
		color: #fff;
		padding: .5rem;
		border-radius: 7px;
		min-width: 8rem;

		&:hover {
			cursor: pointer;
			transition: all .3s ease-in-out;
			transform: translateY(-1px);
			background-color: lighten(#7ac142, 5);
		}
	}

	@media screen and (max-width: $break3) {
		flex-direction: column;
	}
}
