
.c-img-text {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 0;
}

.c-img-text__img-wrapper {
	display: block;
	flex: 1 0 100%;
	max-width: 900px;
}

.c-img-text__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.c-img-text.-right .c-img-text__img-wrapper {
	margin-left: auto;
	z-index: 1;
}

.c-img-text__content {
	position: absolute;
	right: 0;
	max-width: 740px;
	padding: 4rem;
	border-left: 4px solid $reeves-green;
	background: rgba(#fff, 0.8);
	backdrop-filter: $backdrop-blur;
}

.c-img-text.-right .c-img-text__content {
	left: 0;
	right: auto;
	border-left: 0;
	border-right: 4px solid $reeves-green;
	z-index: 2;
}