.c-rich-text { 
	h2, h3 {
		@media screen and (max-width: $break3) {
			text-align: justify;
			font-size: 3rem;
		}
	}

	a {
		color: $reeves-dark-green;

		&:hover {
			color: $reeves-green;
			text-decoration: none;
		}
	}
	
}

.c-rich-text-only {
	margin-bottom: 4rem;
	h2, h3 {
		text-align: center;
	}

	.c-rich-text__c-btn-wrapper {
		text-align: center;
	}
}

.c-rich-text__c-btn-wrapper {
	margin-top: 2rem;
}

.c-rich-text blockquote {
	position: relative;

	p {
		font-style: italic;
	}
	
	&::before {
		content: '\275D';
		position: absolute;
		top: -20px;
		left: -20px;
		font-size: 5em;
		margin: 0;
		line-height: 1;
		opacity: 0.1;
	}

	&::after {
		content: '\275E';
		position: absolute;
		bottom: -30px;
		right: -10px;
		font-size: 5em;
		margin: 0;
		line-height: 1;
		opacity: 0.1;
	}
}

.c-rich-text blockquote + * {
	text-align: right;
}

.c-rich-text a {
	color: $reeves-dark-green;

	&:hover {
		color: $reeves-green;
	}
}