$body-color: #555555;

$reeves-green: #7ac142;
$reeves-dark-green: #60973a;
$reeves-gray: #36383d;

$border-radius: 7px;

$green-box-shadow: 0px 4px 20px rgba(122, 193, 66, 0.4);
$box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0246739), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0193738), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0127833);

$backdrop-blur: blur(15px);

$break1: 1200px;
$break2: 980px;
$break3: 768px;
$break4: 480px;
