.section--cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__title {
    font-family: "Euphoria Script";
    color: #60973a;
    font-size: 2rem;
  }

  &__btn {
    font-family: "Open Sans Condensed";
    font-weight: 600;
    font-size: 14px;
    background-color: #7ac142;
    color: #fff;
    padding: 1rem;
    border-radius: 7px;
  }
}
